*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(71, 154, 102);
}

header{
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(71, 154, 102);
}

main{
    padding-bottom: 80px;
}

.flex{
    display: flex;
}

.nav__title{
    font-size: 18px;
    font-weight: 700;
    flex-basis: 60%;
    text-align: center;
}

.nav__left,
.nav__right{
    flex-basis: 20%;
}

.nav__left img,
.nav__right img{
    vertical-align: middle;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.nav__right{
    text-align: right;
}

.logo-unico{
    margin-left: 10px;
}

.box{
    margin:  15px;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
}

.box--secondary{
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
    margin: 0;
    z-index: 100;
    position: relative;
}

.box__pre-header{
    margin-bottom: 20px;
}

.box__title{
    position: relative;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.box__title--secondary{
    text-transform: none;
    margin-top: 0;
    font-size: 14px;
}

.box__title .arrow-right{
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    height: 17px;
    width: 15px;
    top: 0;
}

.box__title .img-arrow-right{
    mask-image: url(./images/left-arrow.png);
    -webkit-mask-image: url(./images/left-arrow.png);
    background-color: #000000;
    height: 100%;
    width: 100%;
    display: inline-block;
    -webkit-mask-size: 12px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50%;
}

.box__par{
    font-weight: 300;
    font-size: 14px;
}

.loader{
    margin-top: -19px;
    overflow: hidden;
}

.qr-code{
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
}

.time-check{
    color: #003366;
    margin-top: 20px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.time-check #time{
    font-size: 18px;
    font-weight: 500;
}

.time-check #code-validation{
    font-weight: 500;
    font-size: 14px;
}

#time:before{
    content: "";
    display: inline-block;
    height: 24px;
    width: 20px;
    background-image: url(./images/time.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px;
}

#code-validation:before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 18px;
    background-image: url(./images/crypt.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2px;
    vertical-align: top;
}

.box__title.box__title--secondary:before{
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(./images/ticket.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px;
}

section.loader video{
    height: 70px;
    width: calc(100% + 12px);
    margin-top: 4px;
    margin-left: -6px;
    transform: scale(1.3);
}

.card{
    background-color: #ececec;
    border-radius: 8px;
    padding: 10px 15px;
}

.card__label{
    display: inline-block;
    font-weight: 300;
}

.card__text{
    font-size: 14px;
}

.card--green{
    background-color:rgb(71, 154, 102);
    color: #fff;
}

.date-emission-container{
    margin-top: 10px;
}

.date-emission{
    font-size: 14px;
}

.date-emission strong{
    font-weight: 700;
}

.accordion p{
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 300;
    font-size: 14px;
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
}

.accordion p.open{
    margin-bottom: 20px;
}

.accordion__title{
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.arrow-accordion{
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    transform: rotate(-90deg);
    height: 17px;
    width: 15px;
}

.arrow-accordion.open-arrow {
    transform: rotate(90deg);
}

.accordion__read-all{
    color: #003366;
}

.img-arrow-accordion{
    vertical-align: middle;
    mask-image: url(./images/left-arrow.png);
    -webkit-mask-image: url(./images/left-arrow.png);
    background-color: #000000;
    height: 100%;
    width: 100%;
    display: inline-block;
    -webkit-mask-size: 12px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50%;
}

.price-footer,
.details-footer{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.details-footer + .details-footer{
    margin-top: 20px;
}

.price-footer{
    padding-bottom: 8px;
    margin-top: 20px;
    border-bottom: 1px solid #e4e4e4;
}

.details-footer{
    font-weight: 300;
    font-size: 13px;
    color: #676767;
}

.price-footer h5{
    font-size: 18px;
    font-weight: 300;
}

.price-footer strong{
    font-size: 18px;
    color: #000;
}

footer{
    background-color: #fff;
    min-height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}